
/*
    width => LARGURA
    right => ALTURA
    background-image => TROCA IMAGEM DE FUNDO
    fonte-size => TROCA O TAMANHO DO TEXTO
    fonte-family => TROCA A FONTE DO TEXTO
    color => TROCA A COR DO TEXO
    display = > TROCA A FORMA QUE O CAMPO SE COMPORTA NA TELA
    cursor = MUDAR O CURSOR DO MOUSE
    position => SERVER PARA DEFINIR COMO IREMOS POSICIONAR OS ELEMENTOS NA TELA
    padding = DEFINIR PARTE INTERNA DA PAGINA
    border-radius => ARREDONDA AS BORDAS
    border => MUDAR A COR DA BORDA, TAMANHO E O TIPO DE BORDA DO ELEMENTO




    
    Unidades de Medida
    px => PIXEL
    vh => VIEW HEIGHT "Altura da tela dividido por 100"
    vw => VIE WIDHT "Largura da tela dividido por 100"
    cm => CENTÃMETRO
    top => SUPERIOR
    bottom => INFERIOR
    left = > ESQUERDA
    right => DIREITA



*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.cabecalho {
    padding-top: 25px;
    padding-left: 35px;


}

.caixa-superior {
    background-image: url("./jas.png");
    height: 90vh;        
}

.titulo-cabecalho {
    font-size: 24px;
    color: #041144;
    display: inline;


}

.link-cabecalho {
    font-size: 14px;
    color: #041144;
    display: inline;
    margin-left: 60px;
    cursor: pointer;
}
h1 {
    font-size: 28px;
    color: #041144;
    position: relative;
    top: 380px;
    margin-left: 35px;
}
form {
    background-color:  #F9F9F9;
    border-radius: 10px;
    float: right;
    padding: 20px;
    margin-right: 50px;
    
}

input {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    width:250px;
    height: 40px;
    margin-bottom: 20px;


}

textarea {
    display: block;
    width:250px;
    height: 130px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;

}

.titulo-formulario {
    font-size: 24px;
    color:  #041144;
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-size: 14px;
    color:  #041144;
    }

button {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #40BB15;
    color: #F9F9F9;
}

.caixa-central {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.titulo-meio {
    font-size: 30px;
    color:  #041144;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 370px;
    border-radius: 10px;
    background: #F9F9F9;
    border: 1px solid #F9F9F9;
    
    
    }

.titulo-card {
    background: #40BB15;
    color:#F9F9F9;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;

}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    margin-left: 20px;
}

.caixa-inferior {
    background-color: #0b0233;
}
.titulo-inferior {
    color: #F9F9F9;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

.paragrafo-inferior {
    font-size: 15px;
    color:#F9F9F9
    text-align center;
    padding: 20px 50px 50 50px;

}